.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161B22;
  height: 30vh;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.search-bar-input {
  height: 4vh;
  width: 20vw;
  margin: 10px;
}

.search-bar-button {
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #0C1117;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  color: #58A6FF;
  font-weight: bold;
}

.search-bar-button:hover {
  cursor: pointer;
}

.sort-and-filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161B22;
  margin-top: 20px;
  height: 30vh;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.sort-buttons-section {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.sort-by-stars-button {
  margin: 4px;
  padding: 10px;
  background-color: #0C1117;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  color: #58A6FF;
  font-weight: bold;
}

.sort-by-match-button {
  margin: 4px;
  padding: 10px;
  background-color: #0C1117;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  color: #58A6FF;
  font-weight: bold;
}

.sort-by-stars-button:hover {
  cursor: pointer;
}

.sort-by-match-button:hover {
  cursor: pointer;
}

.language-filter-form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.language-input {
  width: 200px;
  height: 20px;
  padding: 2px;
}

.language-filter-button {
  background-color: #0C1117;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  color: #58A6FF;
  font-weight: bold;
  margin-left: 6px;
}

.language-filter-button:hover {
  cursor: pointer;
}